.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 32px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 2vw;
}
@media (max-width: 900px) {
  .masonry {
    gap: 18px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}